<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="col-lg-12">
			<div class="row">
				<div class="col-lg-4">
					<p>{{ site.abbrv-title }}</p>
					<img class="img-fluid" src="{{ site.baseurl }}/images/logo/osu-iem.png"
						 style="max-width: 100px;">
				</div>
				<div class="col-lg-4">
					<p align="center">Our research is proudly supported by</p>
					<img class="centered" src="{{ site.baseurl }}/images/logo/nsf-logo.png"
						 style="max-width: 100px;">
				</div>

				<div class="col-lg-4">
					<p>DISys Lab, Room 240</p>
					<p>Advanced Technology Research Centre (ATRC)</p>
					<p>Athletic Ave, Stillwater, OK 74075</p>
					<li><a href="https://github.com/paritoshpr">Github</a></li>
				</div>
			</div>
		</div>

		<div class="row mt-3">
			<p class="text-center">Copyright DISys Lab 2024</p>
		</div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
